*
{
    margin: 0px;
    padding: 0px;
}

/* Barra superior*/
.menu_icon
{
    padding: 10px;
    margin: 12px 05px;
    width: auto;
    background: yellow;
    display: inline-block;
    margin-left: 1092px;    
    border-radius: 05px;
    
}

.menu_link
{
    color: black;
    text-decoration: none;
}

#registro
{
    margin: auto;
}

.logo
{
    width: 37px;
    margin: 10px;
    float: left;
}

.contenedor
{
    background: #273c75;
}


/* Introduccion a la pagina*/
.principal
{
    margin: 15px;
}

.introduccion p
{
    padding: 10px 0px;
}

/* Opciones depplegables*/

.seleccion
{
    margin: 20px 10px;
    font-size: 20px;
}

label
{
    font-size: 25px;
    margin: 15px;
}

.sel_materia
{
    margin: 20px; 
}

.sel_materia ul
{
    list-style: none;
    font-size: 20px;
}